<table class="e_list table table-striped">
    <thead class="text-capitalize">
        <tr>
            <th class="col"><%=lang.name%></th>
            <th class="col"><%=lang.email%></th>
            <th class="col"><%=lang.permission%></th>
            <th class="col"><%=lang.date_last_login%></th>
            <th class="col"><%=lang.status%></th>
            <th class="col"></th>
            <th class="col"></th>
        </tr>
    </thead>
    <tbody></tbody>
</table>