<form class="form form-vertical">
    <div class="form-body">
        <div class="row">
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label><%=lang.name%></label>
                    <div class="position-relative">
                        <input type="text" name="name" class="form-control" placeholder="<%=lang.name%>">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label><%=lang.surname%></label>
                    <div class="position-relative">
                        <input type="text" name="surname" class="form-control" placeholder="<%=lang.surname%>">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label><%=lang.email%></label>
                    <div class="position-relative">
                        <input type="email" name="email" class="form-control" placeholder="<%=lang.email%>">
                        <div class="form-control-icon">
                            <i class="bi bi-envelope"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label><%=lang.phone_number%></label>
                    <div class="position-relative">
                        <input type="tel" name="phone" class="form-control" placeholder="<%=lang.phone_number%>">
                        <div class="form-control-icon">
                            <i class="bi bi-phone"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group has-icon-left">
                    <label><%=lang.comment%></label>
                    <div class="position-relative">
                        <textarea name="comment" class="form-control" placeholder="<%=lang.comment%>" rows="5"></textarea>
                        <div class="form-control-icon">
                            <i class="bi bi-chat-dots"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 d-flex justify-content-end">
                <button type="submit" class="btn btn-primary me-1 mb-1"><%=lang.save%></button>
            </div>
        </div>
    </div>
</form>