<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="text-capitalize"><%=lang.view_detail%></h4>
                <div class="float-end">
                    <button class="e_view_detail btn btn-primary" function="year"><%=lang.year%></button>
                    <button class="e_view_detail btn btn-primary" function="month"><%=lang.month%></button>
                    <button class="e_view_detail btn btn-primary" function="week"><%=lang.week%></button>
                    <button class="e_view_detail btn btn-primary" function="day"><%=lang.day%></button>
                </div>
            </div>
            <div class="card-body">
                <div id="chart_view_detail"></div>
            </div>
        </div>
    </div>
</div>