<div class="card">
    <div class="card-header">
        <h4><%=lang.last%> <%=lang.blogs%></h4>
    </div>
    <div class="card-content pb-4">
        <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
                <img src="../image/4.jpg">
            </div>
            <div class="name ms-4">
                <h5 class="mb-1">Hank Schrader</h5>
                <h6 class="text-muted mb-0">@johnducky</h6>
            </div>
        </div>
        <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
                <img src="../image/5.jpg">
            </div>
            <div class="name ms-4">
                <h5 class="mb-1">Dean Winchester</h5>
                <h6 class="text-muted mb-0">@imdean</h6>
            </div>
        </div>
        <div class="recent-message d-flex px-4 py-3">
            <div class="avatar avatar-lg">
                <img src="../image/1.jpg">
            </div>
            <div class="name ms-4">
                <h5 class="mb-1">John Dodol</h5>
                <h6 class="text-muted mb-0">@dodoljohn</h6>
            </div>
        </div>
        <div class="px-4">
            <a href="blog.html"  class='btn btn-block btn-xl btn-light-primary font-bold mt-3 text-capitalize'><%=lang.show_all%></a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h4><%=lang.last%> <%=lang.subscribers%></h4>
    </div>
    <div class="card-content pb-4">
        <div class="e_last" function="subscribe">

        </div>
        <div class="px-4">
            <a href="subscriber.html" class='btn btn-block btn-xl btn-light-primary font-bold mt-3 text-capitalize'><%=lang.show_all%></a>
        </div>
    </div>
</div>