<section class="e_change_password section">
    <div class="card text-capitalize">
        <div class="card-header">
            <h4><%=lang.change_password%></h4>
        </div>
        <div class="card-body">
            <form class="form form-vertical">
                <div class="form-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group has-icon-left">
                                <label><%=lang.password%></label>
                                <div class="position-relative">
                                    <input type="password" name="password" class="form-control" placeholder="<%=lang.password%>">
                                    <div class="form-control-icon">
                                        <i class="bi bi-lock-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group has-icon-left">
                                <label><%=lang.new_password%></label>
                                <div class="position-relative">
                                    <input type="password" name="new_password" class="form-control" placeholder="<%=lang.new_password%>">
                                    <div class="form-control-icon">
                                        <i class="bi bi-lock-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group has-icon-left">
                                <label><%=lang.new_password%> <%=lang.verification%></label>
                                <div class="position-relative">
                                    <input type="password" name="new_password_verification" class="form-control" placeholder="<%=lang.new_password%> <%=lang.verification%>">
                                    <div class="form-control-icon">
                                        <i class="bi bi-lock-fill"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-end">
                            <button type="submit" class="btn btn-primary me-1 mb-1"><%=lang.change%></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>