<div id="sidebar" class="active text-capitalize">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-center">
                <div class="logo">
                    <a href="index.html"><img src="assets/images/logo/panter-bg.png" alt="PanterSoft"></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul id="menu" class="menu">
                <li class="sidebar-title"><%=lang.menu%></li>
                <li class="sidebar-item">
                    <a href="index.html" class='sidebar-link'>
                        <i class="bi bi-graph-up"></i>
                        <span><%=lang.dashboard%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="users.html" class='sidebar-link'>
                        <i class="bi bi-person-fill"></i>
                        <span><%=lang.users%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="gallery.html" class='sidebar-link'>
                        <i class="bi bi-image-fill"></i>
                        <span><%=lang.gallery%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="subscriber.html" class='sidebar-link'>
                        <i class="bi bi-heart-fill"></i>
                        <span><%=lang.subscribers%></span>
                    </a>
                </li>

                <li class="sidebar-title"><%=lang.page_elements%></li>
                <li class="sidebar-item">
                    <a href="slider.html" class='sidebar-link'>
                        <i class="bi bi-images"></i>
                        <span><%=lang.slider%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="portfolio.html" class='sidebar-link'>
                        <i class="bi bi-columns-gap"></i>
                        <span><%=lang.portfolio%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="blog.html" class='sidebar-link'>
                        <i class="bi bi-archive-fill"></i>
                        <span><%=lang.blog%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="reference.html" class='sidebar-link'>
                        <i class="bi bi-briefcase-fill"></i>
                        <span><%=lang.references%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="counter.html" class='sidebar-link'>
                        <i class="bi bi-percent"></i>
                        <span><%=lang.counter%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="services.html" class='sidebar-link'>
                        <i class="bi bi-clipboard-check"></i>
                        <span><%=lang.services%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="testimonials.html" class='sidebar-link'>
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                        <span><%=lang.testimonials%></span>
                    </a>
                </li>

                <li class="sidebar-title"><%=lang.settings%></li>

                <li class="sidebar-item has-sub e_setting">
                    <a href="settings.html" class='sidebar-link'>
                        <i class="bi bi-gear-fill"></i>
                        <span><%=lang.general_settings%></span>
                    </a>
                    <ul class="submenu">
                        <li class="submenu-item">
                            <a href="settings.html#general" function="general">Site Ayarları</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="settings.html#contact" function="contact">İletişim</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="settings.html#social"  function="social">Sosyal Medya</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="settings.html#mail" function="mail">Mail</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="settings.html#captcha"  function="captcha" >Google Captcha</a>
                        </li>
                        <li class="submenu-item ">
                            <a href="settings.html#lang" function="lang" >Dil</a>
                        </li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a href="change_password.html" class='sidebar-link'>
                        <i class="bi bi-key-fill"></i>
                        <span><%=lang.change_password%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="language.html" class='sidebar-link'>
                        <i class="bi bi-translate"></i>
                        <span><%=lang.language%></span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="support.html" class='sidebar-link'>
                        <i class="bi bi-life-preserver"></i>
                        <span><%=lang.support%></span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>