<section>
    <div class="card mt-3">
        <div class="card-content">
            <div class="card-body" style="min-height: calc(100vh - 300px)">
                <div class="row">
                    <div class="col-12 e_setting">
                        <%-include("../form/general.ejs")-%>
                        <%-include("../form/contact.ejs")-%>
                        <%-include("../form/social.ejs")-%>
                        <%-include("../form/re_capta.ejs")-%>
                        <%-include("../form/language.ejs")-%>
                        <%-include("../form/mail.ejs")-%>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


