<main id="main">
    <%-include("./main/about")-%>
    <%-include("./main/services")-%>
    <%-include("./main/why_us")-%>
    <%-//include("./main/portfolio")-%>
    <%-include("./main/testimonials")-%>
    <%-//include("./main/pricing")-%>
    <%-//include("./main/team")-%>
    <%-include("./main/clients")-%>
    <%-include("./main/contact")-%>
</main>